.tituloPrincipal{
    font-size: 40px;
    padding-left: 30px;

}

#banner{
    width: 100%;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

.tituloCentralizado{
    text-align: center;
}

h2 {
    font-size: 40px;
}

p {
    text-align: center;
}

em strong {
    color: red;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: #ffffff;
    padding: 30px;
    font-size: 40px;
}

.items{
    font-style: italic;
    font-size: 20px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 15%;
}

.imagenDierenciales{
    width: 50%;
}
